{% extends 'base.html' %}
{% load static %}
{% block content%}
    <div class="page-content">
        <div class="holder mt-0">
            <div class="container">
                <ul class="breadcrumbs">
                    <li><a href="index.html">Home</a></li>
                    <li><span>My account</span></li>
                </ul>
            </div>
        </div>
        <div class="holder mt-0">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 aside aside--left">
                        <!-- <div class="list-group"><a href="account-details.html" class="list-group-item">Account Details</a> <a href="account-addresses.html" class="list-group-item">My Addresses</a> <a href="account-wishlist.html" class="list-group-item">My Wishlist</a> <a href="account-history.html" class="list-group-item active">My Order History</a> <a href="#" class="list-group-item">My Reviews</a> <a href="#" class="list-group-item">My Saved Tags</a> <a href="#" class="list-group-item">Compare Products</a></div> -->
                        <div class="list-group">

                            <a href="{% url 'accounts:account_details' %}" class="list-group-item">Account Details</a> 
                            <a href="{% url 'accounts:personal_details' %}" class="list-group-item">Personal Info</a> 
                            <a href="{% url 'accounts:account_addresses' %}" class="list-group-item">My Addresses</a> 
                            <a href="{% url 'accounts:account_wishlist' %}" class="list-group-item">My Wishlist</a>
                            <a href="{% url 'payment:account_history' %}" class="list-group-item active">My Order History</a>
                              <!-- <a href="#" class="list-group-item">My Reviews</a> 
                              <a href="#" class="list-group-item">My Saved Tags</a>
                               <a href="#" class="list-group-item">Compare Products</a> -->
                        </div>
                    </div>
                    <div class="col-md-9 aside">
                        <h2>Order History</h2>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-order-history">
                                <thead>
                                    <tr>
                                        <th scope="col">Order Number</th>
                                        <th scope="col">Order Date</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Total Price</th>
                                      
                                    </tr>
                                </thead>
                                <tbody>

                                    <!-- <tr>
                                        <th>Name:</th>
                                        <td>Bill Gates</td>
                                      </tr>
                                      <tr>
                                        <th rowspan="2">Telephone:</th>
                                        <td>55577854</td>
                                      </tr>
                                      <tr>
                                        <td>55577855</td>
                                      </tr>
 -->
                                   

                                    {% for order in orders %}
                                   
                                    <tr>
                                       
                                        <th><b>{{order.order_id}}</b> 
                                            <a href="{% url 'payment:invoice' order.order_id %}" class="ml-1">View Details</a>
                                        </th>
                                      
                                        <td>{{order.date}}</td>
                                      
                                        <td>{{order.Status}}</td>
                                        <td><span class="color">&#8377;{{order.total_price}}</span></td>
                                        
                                    </tr>
                                    
                                   {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="text-right mt-2"><a href="#" class="btn btn--alt">Clear History</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     {% endblock %}