{% extends 'base.html' %}
{% load static %}
{% block content%}
    <div class="page-content">
        <div class="holder mt-0">
            <div class="container">
                <ul class="breadcrumbs">
                    <li><a href="index.html">Home</a></li>
                    <li><span>Blog Post</span></li>
                </ul>
            </div>
        </div>
        <div class="holder mt-0">
            <div class="container">
                <!-- Page Title -->
                <div class="page-title page-title--blog">
                    <div class="title">
                        <h1>Goodwin is very versatile</h1>
                    </div>
                </div>
                <!-- /Page Title -->
                <div class="row">
                    <div class="col-md-9 aside" id="centerColumn">
                        <div class="post-full">
                            <div class="post-bot">
                                <div class="post-date">13 dec</div><a href="#" class="post-link">by John Smith</a>
                                <div class="post-action"><a href="#postComments" class="js-scroll-to">3 Comment(s)</a></div>
                            </div>
                            <ul class="tags-list post-tags-list">
                                <li><a href="#">Goodwin</a></li>
                                <li><a href="#">Seiko</a></li>
                                <li><a href="#">Banita</a></li>
                                <li><a href="#">Bigsteps</a></li>
                            </ul>
                            <div class="post-img"><img src="images/blog/blog-img-1.jpg" alt=""></div>
                            <div class="post-text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                <blockquote>
                                    <div class="row">
                                        <div class="col-auto">
                                            <div class="blockquote-author-img"><img src="images/pages/blockquote-author.png" alt="" class="img-fluid"></div>
                                        </div>
                                        <div class="col">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
                                            <div class="blockquote-author"><a href="#">John Smith</a></div>
                                        </div>
                                    </div>
                                </blockquote>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            </div>
                            <div class="post-bot flex-wrap">
                                <div class="post-date">13 dec</div><a href="#" class="post-link">by John Smith</a>
                                <div class="post-action"><a href="" class="icon icon-heart-1"></a> <a href="" class="icon-share"></a></div>
                                <ul class="social-list">
                                    <li><a href="#" class="icon icon-facebook"></a></li>
                                    <li><a href="#" class="icon icon-twitter"></a></li>
                                    <li><a href="#" class="icon icon-google"></a></li>
                                    <li><a href="#" class="icon icon-instagram"></a></li>
                                    <li><a href="#" class="icon icon-youtube"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="post-comments" id="postComments">
                            <h3 class="h2-style">Comments (3)</h3>
                            <div class="post-comment">
                                <div class="row">
                                    <div class="col-auto">
                                        <div class="post-comment-author-img"><img src="images/pages/comment-author.png" alt="" class="img-fluid"></div>
                                    </div>
                                    <div class="col">
                                        <div class="post-comment-author"><a href="#">Jenny Parker</a></div>
                                        <div class="post-comment-date">14 dec</div>
                                        <div class="post-comment-text">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
                                        </div>
                                        <div class="post-comment-reply"><a href="#">Reply</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="post-comment">
                                <div class="row">
                                    <div class="col-auto">
                                        <div class="post-comment-author-img"><img src="images/pages/comment-author-2.png" alt="" class="img-fluid"></div>
                                    </div>
                                    <div class="col">
                                        <div class="post-comment-author"><a href="#">Nick Garden</a></div>
                                        <div class="post-comment-date">15 dec</div>
                                        <div class="post-comment-text">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
                                        </div>
                                        <div class="post-comment-reply"><a href="#">Reply</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="post-comment">
                                <div class="row">
                                    <div class="col-auto">
                                        <div class="post-comment-author-img"><img src="images/pages/comment-author-3.png" alt="" class="img-fluid"></div>
                                    </div>
                                    <div class="col">
                                        <div class="post-comment-author"><a href="#">John Smith</a></div>
                                        <div class="post-comment-date">16 dec</div>
                                        <div class="post-comment-text">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
                                        </div>
                                        <div class="post-comment-reply"><a href="#">Reply</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="post-comment-form">
                            <h3 class="h2-style">Post Comments</h3>
                            <form action="#" class="comment-form">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group"><input type="text" class="form-control" placeholder="NAME"></div>
                                        <div class="form-group"><input type="text" class="form-control" placeholder="EMAIL"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="form-group"><textarea class="form-control textarea--height-200" placeholder="COMMENT"></textarea></div><button class="btn mt-15">Post Comment</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-3 aside aside--right" id="sideColumn">
                        <div class="aside-block">
                            <div class="two-cols">
                                <div>
                                    <h2 class="text-uppercase">Meta</h2>
                                    <ul class="list list--nomarker">
                                        <li><a href="#">Log in</a></li>
                                        <li><a href="#">Entries RSS</a></li>
                                        <li><a href="#">Comments RSS</a></li>
                                    </ul>
                                </div>
                                <div>
                                    <h2 class="text-uppercase">ARCHIVES</h2>
                                    <ul class="list list--nomarker">
                                        <li><a href="#">January 2018</a></li>
                                        <li><a href="#">February 2018</a></li>
                                        <li><a href="#">March 2018</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="aside-block-delimiter"></div>
                        <div class="aside-block">
                            <h2 class="text-uppercase">Tags</h2>
                            <ul class="tags-list">
                                <li><a href="#">jeans</a></li>
                                <li><a href="#">hand bags</a></li>
                                <li><a href="#">gift</a></li>
                                <li><a href="#">Goodwin</a></li>
                                <li><a href="#">Seiko</a></li>
                                <li><a href="#">Banita</a></li>
                                <li><a href="#">Bigsteps</a></li>
                                <li><a href="#">men accessories</a></li>
                                <li><a href="#">maxi dress</a></li>
                            </ul>
                        </div>
                        <div class="aside-block-delimiter"></div>
                        <div class="aside-block">
                            <h2 class="text-uppercase">Resent Posts</h2>
                            <div class="post-prw"><a href="blog-post.html" class="post-img"><img src="images/blog/blog-placeholder.png" data-src="images/blog/small/blog-img-7.jpg" class="lazyload" alt=""></a>
                                <h4 class="post-title"><a href="#">How to create bestseller?</a></h4>
                                <p class="post-teaser">This is your store’s blog. You can use it to talk about new product...</p>
                                <div class="post-bot">
                                    <div class="post-date">09 dec</div><a href="blog-post.html" class="post-link">read more</a>
                                    <div class="post-action"><a href="#" class="icon icon-heart-1"></a> <a href="#" class="icon-share"></a></div>
                                </div>
                            </div>
                            <div class="post-prw"><a href="blog-post.html" class="post-img"><img src="images/blog/blog-placeholder.png" data-src="images/blog/small/blog-img-8.jpg" class="lazyload" alt=""></a>
                                <h4 class="post-title"><a href="#">Future Fashion</a></h4>
                                <p class="post-teaser">This is your store’s blog. You can use it to talk about new product...</p>
                                <div class="post-bot">
                                    <div class="post-date">10 dec</div><a href="blog-post.html" class="post-link">read more</a>
                                    <div class="post-action"><a href="#" class="icon icon-heart-1"></a> <a href="#" class="icon-share"></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="aside-block-delimiter"></div>
                        <div class="aside-block">
                            <h2 class="text-uppercase">Instagram</h2>
                            <div class="instagram-grid three-in-row">
                                <div id="instafeed1" class="instagram-feed-full js-instagram-feed" data-instafeed='{"limit": "9", "accessToken": "8136043898.1677ed0.5f6f0f08a4614a9f83fd02618b192be9", "sortBy": "most-recent"}'></div>
                            </div>
                        </div>
                        <div class="aside-block-delimiter"></div>
                        <div class="aside-block">
                            <h2 class="text-uppercase">Follow Us</h2>
                            <ul class="social-list">
                                <li><a href="#" class="icon icon-facebook"></a></li>
                                <li><a href="#" class="icon icon-twitter"></a></li>
                                <li><a href="#" class="icon icon-google"></a></li>
                                <li><a href="#" class="icon icon-instagram"></a></li>
                                <li><a href="#" class="icon icon-youtube"></a></li>
                            </ul>
                        </div>
                        <div class="aside-block-delimiter"></div>
                        <div class="aside-block">
                            <h2 class="text-uppercase">Newsletter</h2>
                            <form action="#"><input type="text" class="form-control form-control--full" placeholder="Enter Your e-mail address"> <button type="submit" class="btn-decor">subscribe</button></form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}