{% extends 'base.html' %}
{% load static %}
{% block content%}
    <div class="page-content">
        <div class="holder mt-0">
            <div class="container">
                <ul class="breadcrumbs">
                    <li><a href="index.html">Home</a></li>
                    <li><span>Blog</span></li>
                </ul>
            </div>
        </div>
        <div class="holder mt-0">
            <div class="container">
                <h1 class="text-center">Blog</h1>
                <div class="post-grid-3">
                    <div class="post-prw-big"><a href="blog-post.html" class="post-img"><img src="images/blog/blog-img-1.jpg" alt=""></a>
                        <div class="post-inside">
                            <ul class="tags-list post-tags-list">
                                <li><a href="#">Goodwin</a></li>
                                <li><a href="#">Seiko</a></li>
                                <li><a href="#">Banita</a></li>
                                <li><a href="#">Bigsteps</a></li>
                            </ul>
                            <h2 class="post-title"><a href="#">Home page visual builder</a></h2>
                            <p class="post-teaser">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <div class="post-bot">
                                <div class="post-date">31 dec</div><a href="blog-post.html" class="post-link">read more</a>
                                <div class="post-action"><a href="#" class="icon-heart"></a> <a href="#" class="icon-share"></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="post-prw-big"><a href="blog-post.html" class="post-img"><img src="images/blog/blog-img-2.jpg" alt=""></a>
                        <div class="post-inside">
                            <ul class="tags-list post-tags-list">
                                <li><a href="#">Goodwin</a></li>
                                <li><a href="#">Seiko</a></li>
                                <li><a href="#">Banita</a></li>
                                <li><a href="#">Bigsteps</a></li>
                            </ul>
                            <h2 class="post-title"><a href="#">Slider/Megamenu visual builder</a></h2>
                            <p class="post-teaser">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <div class="post-bot">
                                <div class="post-date">13 dec</div><a href="blog-post.html" class="post-link">read more</a>
                                <div class="post-action"><a href="#" class="icon-heart"></a> <a href="#" class="icon-share"></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="post-prw-big"><a href="blog-post.html" class="post-img"><img src="images/blog/blog-img-3.jpg" alt=""></a>
                        <div class="post-inside">
                            <ul class="tags-list post-tags-list">
                                <li><a href="#">Goodwin</a></li>
                                <li><a href="#">Seiko</a></li>
                                <li><a href="#">Banita</a></li>
                                <li><a href="#">Bigsteps</a></li>
                            </ul>
                            <h2 class="post-title"><a href="#">Full theme control</a></h2>
                            <p class="post-teaser">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <div class="post-bot">
                                <div class="post-date">09 dec</div><a href="blog-post.html" class="post-link">read more</a>
                                <div class="post-action"><a href="#" class="icon-heart"></a> <a href="#" class="icon-share"></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="post-prw-big"><a href="blog-post.html" class="post-img"><img src="images/blog/blog-img-4.jpg" alt=""></a>
                        <div class="post-inside">
                            <ul class="tags-list post-tags-list">
                                <li><a href="#">Goodwin</a></li>
                                <li><a href="#">Seiko</a></li>
                                <li><a href="#">Banita</a></li>
                                <li><a href="#">Bigsteps</a></li>
                            </ul>
                            <h2 class="post-title"><a href="#">Goodwin is very versatile</a></h2>
                            <p class="post-teaser">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <div class="post-bot">
                                <div class="post-date">01 dec</div><a href="blog-post.html" class="post-link">read more</a>
                                <div class="post-action"><a href="#" class="icon-heart"></a> <a href="#" class="icon-share"></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="post-prw-big"><a href="blog-post.html" class="post-img"><img src="images/blog/blog-img-5.jpg" alt=""></a>
                        <div class="post-inside">
                            <ul class="tags-list post-tags-list">
                                <li><a href="#">Goodwin</a></li>
                                <li><a href="#">Seiko</a></li>
                                <li><a href="#">Banita</a></li>
                                <li><a href="#">Bigsteps</a></li>
                            </ul>
                            <h2 class="post-title"><a href="#">Left column visual builder</a></h2>
                            <p class="post-teaser">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <div class="post-bot">
                                <div class="post-date">30 nov</div><a href="blog-post.html" class="post-link">read more</a>
                                <div class="post-action"><a href="#" class="icon-heart"></a> <a href="#" class="icon-share"></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="post-prw-big"><a href="blog-post.html" class="post-img"><img src="images/blog/blog-img-6.jpg" alt=""></a>
                        <div class="post-inside">
                            <ul class="tags-list post-tags-list">
                                <li><a href="#">Goodwin</a></li>
                                <li><a href="#">Seiko</a></li>
                                <li><a href="#">Banita</a></li>
                                <li><a href="#">Bigsteps</a></li>
                            </ul>
                            <h2 class="post-title"><a href="#">Banners editor</a></h2>
                            <p class="post-teaser">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <div class="post-bot">
                                <div class="post-date">26 nov</div><a href="blog-post.html" class="post-link">read more</a>
                                <div class="post-action"><a href="#" class="icon-heart"></a> <a href="#" class="icon-share"></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="post-prw-big"><a href="blog-post.html" class="post-img"><img src="images/blog/blog-img-7.jpg" alt=""></a>
                        <div class="post-inside">
                            <ul class="tags-list post-tags-list">
                                <li><a href="#">Goodwin</a></li>
                                <li><a href="#">Seiko</a></li>
                                <li><a href="#">Banita</a></li>
                                <li><a href="#">Bigsteps</a></li>
                            </ul>
                            <h2 class="post-title"><a href="#">How to create bestseller?</a></h2>
                            <p class="post-teaser">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <div class="post-bot">
                                <div class="post-date">10 nov</div><a href="blog-post.html" class="post-link">read more</a>
                                <div class="post-action"><a href="#" class="icon-heart"></a> <a href="#" class="icon-share"></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="post-prw-big"><a href="blog-post.html" class="post-img"><img src="images/blog/blog-img-8.jpg" alt=""></a>
                        <div class="post-inside">
                            <ul class="tags-list post-tags-list">
                                <li><a href="#">Goodwin</a></li>
                                <li><a href="#">Seiko</a></li>
                                <li><a href="#">Banita</a></li>
                                <li><a href="#">Bigsteps</a></li>
                            </ul>
                            <h2 class="post-title"><a href="#">Future Fashion</a></h2>
                            <p class="post-teaser">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <div class="post-bot">
                                <div class="post-date">01 nov</div><a href="blog-post.html" class="post-link">read more</a>
                                <div class="post-action"><a href="#" class="icon-heart"></a> <a href="#" class="icon-share"></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="post-prw-big"><a href="blog-post.html" class="post-img"><img src="images/blog/blog-img-3.jpg" alt=""></a>
                        <div class="post-inside">
                            <ul class="tags-list post-tags-list">
                                <li><a href="#">Goodwin</a></li>
                                <li><a href="#">Seiko</a></li>
                                <li><a href="#">Banita</a></li>
                                <li><a href="#">Bigsteps</a></li>
                            </ul>
                            <h2 class="post-title"><a href="#">Full theme control</a></h2>
                            <p class="post-teaser">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <div class="post-bot">
                                <div class="post-date">09 dec</div><a href="blog-post.html" class="post-link">read more</a>
                                <div class="post-action"><a href="#" class="icon-heart"></a> <a href="#" class="icon-share"></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center"><a href="#" class="btn-decor">show more</a></div>
            </div>
        </div>
    </div>
    {% endblock %}