{% extends 'base.html' %}
{% load static %}
{% block content%}
    <div class="page-content">
        <div class="holder">
            <div class="container">
                <!-- Page Title -->
                <div class="page-title text-center">
                    <div class="title">
                        <h1>Brands Grid</h1>
                    </div>
                </div>
                <!-- /Page Title -->
                <div class="row row--xs-pad brand-grid">
                    <div class="col"><a href="#"><img src="images/brand/brand-logo-01.png" alt="Brand Name"></a></div>
                    <div class="col"><a href="#"><img src="images/brand/brand-logo-02.png" alt="Brand Name"></a></div>
                    <div class="col"><a href="#"><img src="images/brand/brand-logo-03.png" alt="Brand Name"></a></div>
                    <div class="col"><a href="#"><img src="images/brand/brand-logo-04.png" alt="Brand Name"></a></div>
                    <div class="col"><a href="#"><img src="images/brand/brand-logo-05.png" alt="Brand Name"></a></div>
                    <div class="col"><a href="#"><img src="images/brand/brand-logo-06.png" alt="Brand Name"></a></div>
                    <div class="col"><a href="#"><img src="images/brand/brand-logo-07.png" alt="Brand Name"></a></div>
                    <div class="col"><a href="#"><img src="images/brand/brand-logo-08.png" alt="Brand Name"></a></div>
                    <div class="col"><a href="#"><img src="images/brand/brand-logo-09.png" alt="Brand Name"></a></div>
                    <div class="col"><a href="#"><img src="images/brand/brand-logo-10.png" alt="Brand Name"></a></div>
                    <div class="col"><a href="#"><img src="images/brand/brand-logo-11.png" alt="Brand Name"></a></div>
                    <div class="col"><a href="#"><img src="images/brand/brand-logo-12.png" alt="Brand Name"></a></div>
                    <div class="col"><a href="#"><img src="images/brand/brand-logo-13.png" alt="Brand Name"></a></div>
                    <div class="col"><a href="#"><img src="images/brand/brand-logo-14.png" alt="Brand Name"></a></div>
                    <div class="col"><a href="#"><img src="images/brand/brand-logo-15.png" alt="Brand Name"></a></div>
                    <div class="col"><a href="#"><img src="images/brand/brand-logo-16.png" alt="Brand Name"></a></div>
                    <div class="col"><a href="#"><img src="images/brand/brand-logo-17.png" alt="Brand Name"></a></div>
                    <div class="col"><a href="#"><img src="images/brand/brand-logo-18.png" alt="Brand Name"></a></div>
                    <div class="col"><a href="#"><img src="images/brand/brand-logo-19.png" alt="Brand Name"></a></div>
                    <div class="col"><a href="#"><img src="images/brand/brand-logo-20.png" alt="Brand Name"></a></div>
                    <div class="col"><a href="#"><img src="images/brand/brand-logo-21.png" alt="Brand Name"></a></div>
                </div>
            </div>
        </div>
        <div class="holder">
            <div class="container">
                <h2 class="h1-style text-center">Shop brands</h2>
                <div class="brand-prd-carousel vert-dots" data-slick='{"fade": true}'>
                    <div class="brand-prd">
                        <div class="brand-prd-image">
                            <div class="carousel-inside slide" data-ride="carousel">
                                <div class="carousel-inner" role="listbox">
                                    <div class="carousel-item active"><img src="images/placeholder.png" data-src="images/brand/brand-img-1.jpg" alt="" class="lazyload"></div>
                                    <div class="carousel-item"><img src="images/placeholder.png" data-src="images/brand/brand-img-2.jpg" alt="" class="lazyload"></div>
                                </div><span class="carousel-control next"></span> <span class="carousel-control prev"></span>
                            </div>
                        </div>
                        <div class="brand-prd-info">
                            <div class="inside">
                                <div class="text-center"><img src="images/placeholder.png" data-src="images//brand/brand-guess.png" alt="" class="lazyload"></div>
                                <p>Lorem ipsum dolor sit amet consestuer adicpising elitr anno dolor sit amet. Lorem ipsum dolor sit amet consestuer adicpising elitr anno dolor sit amet. Lorem ipsum dolor sit amet consestuer adicpising elitr anno dolor sit amet.</p>
                                <div class="text-center"><a href="#" class="btn-decor">shop men</a><a href="#" class="btn-decor">shop women</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="brand-prd">
                        <div class="brand-prd-image">
                            <div class="carousel-inside slide" data-ride="carousel">
                                <div class="carousel-inner" role="listbox">
                                    <div class="carousel-item active"><img src="images/placeholder.png" data-src="images/brand/brand-img-3.jpg" alt="" class="lazyload"></div>
                                    <div class="carousel-item"><img src="images/placeholder.png" data-src="images/brand/brand-img-4.jpg" alt="" class="lazyload"></div>
                                </div><span class="carousel-control next"></span> <span class="carousel-control prev"></span>
                            </div>
                        </div>
                        <div class="brand-prd-info">
                            <div class="inside">
                                <div class="text-center"><img src="images/placeholder.png" data-src="images//brand/brand-zara.png" alt="" class="lazyload"></div>
                                <p>Ipsum dolor sit amet consestuer adicpising elitr anno dolor sit amet. Lorem ipsum dolor sit amet consestuer adicpising elitr anno dolor sit amet. Lorem ipsum dolor sit amet consestuer adicpising elitr anno dolor sit amet.</p>
                                <div class="text-center"><a href="#" class="btn-decor">shop men</a><a href="#" class="btn-decor">shop women</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="brand-prd">
                        <div class="brand-prd-image">
                            <div class="carousel-inside slide" data-ride="carousel">
                                <div class="carousel-inner" role="listbox">
                                    <div class="carousel-item active"><img src="images/placeholder.png" data-src="images/brand/brand-img-5.jpg" alt="" class="lazyload"></div>
                                    <div class="carousel-item"><img src="images/placeholder.png" data-src="images/brand/brand-img-6.jpg" alt="" class="lazyload"></div>
                                </div><span class="carousel-control next"></span> <span class="carousel-control prev"></span>
                            </div>
                        </div>
                        <div class="brand-prd-info">
                            <div class="inside">
                                <div class="text-center"><img src="images/placeholder.png" data-src="images//brand/brand-ck.png" alt="" class="lazyload"></div>
                                <p>Dolor sit amet consestuer adicpising elitr anno dolor sit amet. Lorem ipsum dolor sit amet consestuer adicpising elitr anno dolor sit amet. Lorem ipsum dolor sit amet consestuer adicpising elitr anno dolor sit amet lorem ipsum.</p>
                                <div class="text-center"><a href="#" class="btn-decor">shop men</a><a href="#" class="btn-decor">shop women</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="holder">
            <div class="container">
                <h2 class="h1-style text-center">Brands carousel</h2>
                <ul class="brand-carousel js-brand-carousel slick-arrows-aside-simple">
                    <li><a href="#"><img src="images/brand/brand-logo-placeholder.png" data-src="images/brand/brand-logo-01.png" class="lazyload" alt=""></a></li>
                    <li><a href="#"><img src="images/brand/brand-logo-placeholder.png" data-src="images/brand/brand-logo-02.png" class="lazyload" alt=""></a></li>
                    <li><a href="#"><img src="images/brand/brand-logo-placeholder.png" data-src="images/brand/brand-logo-03.png" class="lazyload" alt=""></a></li>
                    <li><a href="#"><img src="images/brand/brand-logo-placeholder.png" data-src="images/brand/brand-logo-04.png" class="lazyload" alt=""></a></li>
                    <li><a href="#"><img src="images/brand/brand-logo-placeholder.png" data-src="images/brand/brand-logo-05.png" class="lazyload" alt=""></a></li>
                    <li><a href="#"><img src="images/brand/brand-logo-placeholder.png" data-src="images/brand/brand-logo-06.png" class="lazyload" alt=""></a></li>
                    <li><a href="#"><img src="images/brand/brand-logo-placeholder.png" data-src="images/brand/brand-logo-07.png" class="lazyload" alt=""></a></li>
                </ul>
                <div class="text-center"><a href="#" class="btn-decor">view all brands</a></div>
            </div>
        </div>
    </div>
   {% endblock %}