{% extends 'base.html' %}
{% load static %}
{% block content%}
    <div class="page-content">
        <div class="holder mt-0">
            <div class="container">
                <ul class="breadcrumbs">
                    <li><a href="index.html">Home</a></li>
                    <li><span>Collections</span></li>
                </ul>
            </div>
        </div>
        <div class="holder mt-0">
            <div class="container">
                <div class="page-title text-center">
                    <div class="title">
                        <h1>Collections</h1>
                    </div>
                </div>
                <div class="row collections-wrap collections-list mobile-sm-pad">
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="collection-item zoom-out">
                            <div class="collection-item-img"><a href="category.html"><img src="images/placeholder.png" data-src="images/categories/category-img-01.png" class="lazyload" alt="Category Name"> <span class="collection-item-hover"><span><span>cabian</span> <span>canveres</span> <span>canverse</span> <span>claytan</span> <span>clorks</span> <span>cole hoon</span> <span>colvin klein</span> <span>dacoste</span> <span>koach</span> <span>saucany</span> <span>the south face</span> <span>under armor</span></span></span></a></div>
                            <h3 class="collection-item-title"><a href="category.html">Accessories</a></h3>
                            <p>15 Items</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="collection-item zoom-out">
                            <div class="collection-item-img"><a href="category.html"><img src="images/placeholder.png" data-src="images/categories/category-img-02.png" class="lazyload" alt="Category Name"> <span class="collection-item-hover"><span><span>cabian</span> <span>canverse</span> <span>claytan</span> <span>clorks</span> <span>cole hoon</span> <span>colvin klein</span> <span>dacoste</span> <span>koach</span> <span>saucany</span> <span>the south face</span> <span>under armor</span></span></span></a></div>
                            <h3 class="collection-item-title"><a href="category.html">Dresses</a></h3>
                            <p>24 Items</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="collection-item zoom-out">
                            <div class="collection-item-img"><a href="category.html"><img src="images/placeholder.png" data-src="images/categories/category-img-03.png" class="lazyload" alt="Category Name"> <span class="collection-item-hover"><span><span>apple</span> <span>brand</span> <span>jbl</span> <span>leica</span> <span>nokia</span> <span>samsung</span> <span>sony</span></span></span></a></div>
                            <h3 class="collection-item-title"><a href="category.html">Electronics</a></h3>
                            <p>15 Items</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="collection-item zoom-out">
                            <div class="collection-item-img"><a href="category.html"><img src="images/placeholder.png" data-src="images/categories/category-img-04.png" class="lazyload" alt="Category Name"> <span class="collection-item-hover"><span><span>cabian</span> <span>canverse</span> <span>claytan</span> <span>clorks</span> <span>cole hoon</span> <span>colvin klein</span> <span>dacoste</span> <span>koach</span> <span>nike</span> <span>saucany</span> <span>the south face</span> <span>under armor</span></span></span></a></div>
                            <h3 class="collection-item-title"><a href="category.html">Footwear</a></h3>
                            <p>15 Items</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="collection-item zoom-out">
                            <div class="collection-item-img"><a href="category.html"><img src="images/placeholder.png" data-src="images/categories/category-img-05.png" class="lazyload" alt="Category Name"> <span class="collection-item-hover"><span><span>bigsteps</span></span></span></a></div>
                            <h3 class="collection-item-title"><a href="category.html">Furniture</a></h3>
                            <p>6 Items</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="collection-item zoom-out">
                            <div class="collection-item-img"><a href="category.html"><img src="images/placeholder.png" data-src="images/categories/category-img-06.png" class="lazyload" alt="Category Name"> <span class="collection-item-hover"><span><span>bigsteps</span> <span>goodwin</span> <span>seiko</span></span></span></a></div>
                            <h3 class="collection-item-title"><a href="category.html">Plumbing</a></h3>
                            <p>12 Items</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="collection-item zoom-out">
                            <div class="collection-item-img"><a href="category.html"><img src="images/placeholder.png" data-src="images/categories/category-img-07.png" class="lazyload" alt="Category Name"> <span class="collection-item-hover"><span><span>adidas</span> <span>nike</span> <span>omega</span> <span>reebok</span></span></span></a></div>
                            <h3 class="collection-item-title"><a href="category.html">Sport</a></h3>
                            <p>18 Items</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="collection-item zoom-out">
                            <div class="collection-item-img"><a href="category.html"><img src="images/placeholder.png" data-src="images/categories/category-img-08.png" class="lazyload" alt="Category Name"> <span class="collection-item-hover"><span><span>almod</span> <span>bone</span> <span>keto</span> <span>whey</span></span></span></a></div>
                            <h3 class="collection-item-title"><a href="category.html">Sport Nutrition</a></h3>
                            <p>15 Items</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="collection-item zoom-out">
                            <div class="collection-item-img"><a href="category.html"><img src="images/placeholder.png" data-src="images/categories/category-img-09.png" class="lazyload" alt="Category Name"> <span class="collection-item-hover"><span><span>tools</span></span></span></a></div>
                            <h3 class="collection-item-title"><a href="/collections/tools">Tools</a></h3>
                            <p>12 Items</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="collection-item zoom-out">
                            <div class="collection-item-img"><a href="category.html"><img src="images/placeholder.png" data-src="images/categories/category-img-10.png" class="lazyload" alt="Category Name"> <span class="collection-item-hover"><span><span>bigsteps</span></span></span></a></div>
                            <h3 class="collection-item-title"><a href="category.html">Toys</a></h3>
                            <p>8 Items</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="collection-item zoom-out">
                            <div class="collection-item-img"><a href="category.html"><img src="images/placeholder.png" data-src="images/categories/category-img-11.png" class="lazyload" alt="Category Name"> <span class="collection-item-hover"><span><span>bigsteps</span> <span>goodwin</span></span></span></a></div>
                            <h3 class="collection-item-title"><a href="category.html">Tshirts</a></h3>
                            <p>7 Items</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="collection-item zoom-out">
                            <div class="collection-item-img"><a href="category.html"><img src="images/placeholder.png" data-src="images/categories/category-img-12.png" class="lazyload" alt="Category Name"> <span class="collection-item-hover"><span><span>diesel</span> <span>omega</span> <span>tissot</span></span></span></a></div>
                            <h3 class="collection-item-title"><a href="category.html">Watches</a></h3>
                            <p>16 Items</p>
                        </div>
                    </div>
                </div>
                <div class="more-link-wrapper text-center mt-3"><a href="category.html" class="btn-decor">All Products</a></div>
            </div>
        </div>
    </div>
    {% endblock %}