<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Goodwin HTML Template - Cooming Soon Page</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <!-- Vendor CSS -->
    <link href="js/vendor/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="js/vendor/slick/slick.min.css" rel="stylesheet">
    <link href="js/vendor/fancybox/jquery.fancybox.min.css" rel="stylesheet">
    <link href="js/vendor/animate/animate.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/style-light.css" rel="stylesheet">
    <!--icon font-->
    <link href="fonts/icomoon/icomoon.css" rel="stylesheet">
    <!--custom font-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
</head>

<body>
    <div class="body-preloader">
        <div class="loader-wrap">
            <div class="dots">
                <div class="dot one"></div>
                <div class="dot two"></div>
                <div class="dot three"></div>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="holder fullheight d-flex align-items-center my-0">
            <div class="container">
                <div class="text-center"><img src="images/logo-xl.png" class="img-fluid" alt="">
                    <h2 class="h-lg text-uppercase mt-15">cooming soon</h2>
                    <div class="countdown-box-cooming mt-4">
                        <div class="countdown js-countdown" data-countdown="2020/01/01"></div>
                    </div>
                </div>
                <div class="row justify-content-between mt-7">
                    <div class="col-md-6 col-lg-5 col-lg-push-1">
                        <div class="form-inline form-inline--flex"><input type="text" class="form-control" placeholder="SUBSCRIBE TO NEWSLETTER"> <button type="submit" class="btn-decor">subscribe</button></div>
                    </div>
                    <div class="col-md-6 col-lg-5 col-lg-push-1 mt-2 mt-md-0">
                        <div class="form-inline form-inline--flex"><input type="text" class="form-control" placeholder="LOGIN TO SECRET ROOM"> <button type="submit" class="btn-decor">enter</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/vendor/jquery/jquery.min.js"></script>
    <script src="js/vendor/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="js/vendor/slick/slick.min.js"></script>
    <script src="js/vendor/scrollLock/jquery-scrollLock.min.js"></script>
    <script src="js/vendor/instafeed/instafeed.min.js"></script>
    <script src="js/vendor/countdown/jquery.countdown.min.js"></script>
    <script src="js/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="js/vendor/ez-plus/jquery.ez-plus.min.js"></script>
    <script src="js/vendor/tocca/tocca.min.js"></script>
    <script src="js/vendor/bootstrap-tabcollapse/bootstrap-tabcollapse.min.js"></script>
    <script src="js/vendor/isotope/jquery.isotope.min.js"></script>
    <script src="js/vendor/fancybox/jquery.fancybox.min.js"></script>
    <script src="js/vendor/cookie/jquery.cookie.min.js"></script>
    <script src="js/vendor/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="js/vendor/lazysizes/lazysizes.min.js"></script>
    <script src="js/vendor/lazysizes/ls.bgset.min.js"></script>
    <script src="js/vendor/form/jquery.form.min.js"></script>
    <script src="js/vendor/form/validator.min.js"></script>
    <script src="js/vendor/slider/slider.js"></script>
    <script src="js/app.js"></script>
</body>

</html>