{% extends 'base.html' %}
{% load static %}
{% block content%}
    <div class="page-content">
        <div class="holder mt-0">
            <div class="container">
                <ul class="breadcrumbs">
                    <li><a href="index.html">Home</a></li>
                    <li><span>Cart</span></li>
                </ul>
            </div>
        </div>
        <div class="holder">
            <div class="container">
                <div class="compare-table">
                    <div class="compare-table-head-row">
                        <div class="compare-table-cell-first"></div>
                        <div class="compare-table-cell">
                            <div class="prd prd-horizontal-simple">
                                <div class="prd-inside"><a href="#" class="icon-cross delete-from-compare" title="Remove from compare"></a>
                                    <div class="prd-img-area"><a href="product.html" class="prd-img"><img src="images/products/product-01.jpg" alt="Glamor shoes"></a>
                                        <div class="label-new">NEW</div><a href="#" class="label-wishlist icon-heart js-label-wishlist"></a>
                                    </div>
                                    <div class="prd-info">
                                        <div class="prd-tag"><a href="#">colvin klein</a></div>
                                        <h2 class="prd-title"><a href="product.html">Glamor shoes</a></h2>
                                        <div class="prd-rating prd-hidemobile"><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star"></i></div>
                                        <div class="prd-price">
                                            <div class="price-new">&#8377; 190.00</div>
                                        </div>
                                        <div class="prd-action">
                                            <form action="#"><input type="hidden"> <button class="btn" data-fancybox data-src="#modalCheckOut"><i class="icon icon-handbag"></i><span>Add To Cart</span></button></form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="compare-table-cell">
                            <div class="prd prd-horizontal-simple">
                                <div class="prd-inside"><a href="#" class="icon-cross delete-from-compare" title="Remove from compare"></a>
                                    <div class="prd-img-area"><a href="product.html" class="prd-img"><img src="images/products/product-02.jpg" alt="Long top"></a>
                                        <div class="label-new">NEW</div><a href="#" class="label-wishlist icon-heart js-label-wishlist"></a>
                                    </div>
                                    <div class="prd-info">
                                        <div class="prd-tag"><a href="#">under armor</a></div>
                                        <h2 class="prd-title"><a href="product.html">Long top</a></h2>
                                        <div class="prd-rating prd-hidemobile"><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star"></i></div>
                                        <div class="prd-price">
                                            <div class="price-new">&#8377; 120.00</div>
                                        </div>
                                        <div class="prd-action">
                                            <form action="#"><input type="hidden"> <button class="btn" data-fancybox data-src="#modalCheckOut"><i class="icon icon-handbag"></i><span>Add To Cart</span></button></form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="compare-table-cell">
                            <div class="prd prd-horizontal-simple">
                                <div class="prd-inside"><a href="#" class="icon-cross delete-from-compare" title="Remove from compare"></a>
                                    <div class="prd-img-area"><a href="product.html" class="prd-img"><img src="images/products/product-03.jpg" alt="Tie with texture"></a>
                                        <div class="label-new">NEW</div><a href="#" class="label-wishlist icon-heart js-label-wishlist"></a>
                                    </div>
                                    <div class="prd-info">
                                        <div class="prd-tag"><a href="#">canverse</a></div>
                                        <h2 class="prd-title"><a href="product.html">Tie with texture</a></h2>
                                        <div class="prd-rating prd-hidemobile"><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star"></i></div>
                                        <div class="prd-price">
                                            <div class="price-new">&#8377; 150.00</div>
                                        </div>
                                        <div class="prd-action">
                                            <form action="#"><input type="hidden"> <button class="btn" data-fancybox data-src="#modalCheckOut"><i class="icon icon-handbag"></i><span>Add To Cart</span></button></form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="compare-table-row">
                        <div class="compare-table-cell-first">Brand</div>
                        <div class="compare-table-cell">Colvin Klein</div>
                        <div class="compare-table-cell">Under Armor</div>
                        <div class="compare-table-cell">Canverse</div>
                    </div>
                    <div class="compare-table-row">
                        <div class="compare-table-cell-first">Color</div>
                        <div class="compare-table-cell">Silver</div>
                        <div class="compare-table-cell">Black</div>
                        <div class="compare-table-cell">Blue</div>
                    </div>
                    <div class="compare-table-row">
                        <div class="compare-table-cell-first">Material</div>
                        <div class="compare-table-cell">Leather</div>
                        <div class="compare-table-cell">Cotton</div>
                        <div class="compare-table-cell">Silk</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   {% endblock %}