{% extends 'base.html' %}
{% load static %}
{% block content%}
    <div class="page-content">
        <div class="holder mt-0">
            <div class="container">
                <ul class="breadcrumbs">
                    <li><a href="index.html">Home</a></li>
                    <li><span>Typography</span></li>
                </ul>
            </div>
        </div>
        <div class="holder mt-0">
            <div class="container">
                <!-- Page Title -->
                <div class="page-title text-center">
                    <div class="title">
                        <h1>Typography</h1>
                    </div>
                </div>
                <!-- /Page Title -->
                <div class="row vert-margin-double">
                    <div class="col-sm-6">
                        <h3 class="h-lined">Headings</h3>
                        <div class="headings-demo">
                            <h1>H1 HEADING</h1>
                            <h2>H2 HEADING</h2>
                            <h3>H3 HEADING</h3>
                            <h4>H4 HEADING</h4>
                            <h5>H5 HEADING</h5>
                            <h6>H6 HEADING</h6>
                        </div>
                        <div class="clearfix mt-4"></div>
                        <h3 class="h-lined">Blockquotes</h3>
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
                        </blockquote>
                        <div class="clearfix mt-4"></div>
                        <h3 class="h-lined">Tables</h3>
                        <h4>Basic Table</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Table heading</th>
                                        <th>Table heading</th>
                                        <th>Table heading</th>
                                        <th>Table heading</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Table cell</td>
                                        <td>Table cell</td>
                                        <td>Table cell</td>
                                        <td>Table cell</td>
                                    </tr>
                                    <tr>
                                        <td>Table cell</td>
                                        <td>Table cell</td>
                                        <td>Table cell</td>
                                        <td>Table cell</td>
                                    </tr>
                                    <tr>
                                        <td>Table cell</td>
                                        <td>Table cell</td>
                                        <td>Table cell</td>
                                        <td>Table cell</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <h4>Striped Rows</h4>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Table heading</th>
                                    <th>Table heading</th>
                                    <th>Table heading</th>
                                    <th>Table heading</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                </tr>
                                <tr>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                </tr>
                                <tr>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="clearfix mt-4"></div>
                        <h3 class="h-lined">Pagination</h3>
                        <ul class="pagination">
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                        </ul>
                        <div class="clearfix mt-4"></div>
                        <h3 class="h-lined">Tabs</h3>
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item"><a href="#" class="nav-link active">TAB1</a></li>
                                    <li class="nav-item"><a href="#" class="nav-link">TAB2</a></li>
                                    <li class="nav-item"><a href="#" class="nav-link">TAB3</a></li>
                                </ul>
                                <ul class="nav nav-tabs tabs-left">
                                    <li class="nav-item"><a href="#" class="nav-link active">TAB1</a></li>
                                    <li class="nav-item"><a href="#" class="nav-link">TAB2</a></li>
                                    <li class="nav-item"><a href="#" class="nav-link">TAB3</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <ul class="nav nav-tabs nav-tabs--style3">
                                    <li class="nav-item"><a href="#" class="nav-link active">TAB1</a></li>
                                    <li class="nav-item"><a href="#" class="nav-link">TAB2</a></li>
                                    <li class="nav-item"><a href="#" class="nav-link">TAB3</a></li>
                                </ul>
                                <ul class="nav nav-tabs nav-tabs--style3 tabs-left">
                                    <li class="nav-item"><a href="#" class="nav-link active">TAB1</a></li>
                                    <li class="nav-item"><a href="#" class="nav-link">TAB2</a></li>
                                    <li class="nav-item"><a href="#" class="nav-link">TAB3</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix mt-4"></div>
                        <ul class="nav nav-tabs nav-tabs--style2">
                            <li class="nav-item"><a href="#" class="nav-link active">TAB1</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">TAB2</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">TAB3</a></li>
                        </ul>
                        <ul class="nav nav-tabs nav-tabs--style2 tabs-left">
                            <li class="nav-item"><a href="#" class="nav-link active">TAB1</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">TAB2</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">TAB3</a></li>
                        </ul>
                        <div class="clearfix mt-4"></div>
                        <h3 class="h-lined">Social Icons</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="social-list">
                                    <li><a href="#" class="icon icon-facebook"></a></li>
                                    <li><a href="#" class="icon icon-twitter"></a></li>
                                    <li><a href="#" class="icon icon-google"></a></li>
                                    <li><a href="#" class="icon icon-instagram"></a></li>
                                    <li><a href="#" class="icon icon-youtube"></a></li>
                                </ul>
                                <ul class="social-list social-list--color">
                                    <li><a href="#" class="icon icon-facebook"></a></li>
                                    <li><a href="#" class="icon icon-twitter"></a></li>
                                    <li><a href="#" class="icon icon-google"></a></li>
                                    <li><a href="#" class="icon icon-instagram"></a></li>
                                    <li><a href="#" class="icon icon-youtube"></a></li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="social-list social-list--circle">
                                    <li><a href="#" class="icon icon-facebook"></a></li>
                                    <li><a href="#" class="icon icon-twitter"></a></li>
                                    <li><a href="#" class="icon icon-google"></a></li>
                                    <li><a href="#" class="icon icon-instagram"></a></li>
                                    <li><a href="#" class="icon icon-youtube"></a></li>
                                </ul>
                                <ul class="social-list social-list--circle social-list--color">
                                    <li><a href="#" class="icon icon-facebook"></a></li>
                                    <li><a href="#" class="icon icon-twitter"></a></li>
                                    <li><a href="#" class="icon icon-google"></a></li>
                                    <li><a href="#" class="icon icon-instagram"></a></li>
                                    <li><a href="#" class="icon icon-youtube"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix mt-4"></div>
                        <h3 class="h-lined">Loaders</h3>
                        <div class="loader-wrap">
                            <div class="dots">
                                <div class="dot one"></div>
                                <div class="dot two"></div>
                                <div class="dot three"></div>
                            </div>
                        </div>
                        <div class="clearfix mt-4"></div>
                    </div>
                    <div class="col-sm-6">
                        <h3 class="h-lined">Paragraph</h3>
                        <p><b>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</b></p>
                        <p><span class="text-marker">Lorem ipsum dolor</span> sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="#">Ut enim ad minim</a> veniam, quis <del>nostrud exercitation ullamco</del> <ins>laboris</ins> nisi ut aliquip.</p>
                        <p><i>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</i></p>
                        <div class="clearfix mt-4"></div>
                        <h3 class="h-lined">Buttons</h3>
                        <div class="row">
                            <div class="col-6 col-sm-4"><a href="#" class="btn">Button</a></div>
                            <div class="col-6 col-sm-4"><a href="#" class="btn"><i class="icon icon-handbag"></i><span>Button</span></a></div>
                        </div>
                        <div class="clearfix mt-2"></div>
                        <div class="row">
                            <div class="col-6 col-sm-4"><a href="#" class="btn btn--lg">Button</a></div>
                            <div class="col-6 col-sm-4"><a href="#" class="btn btn--lg"><i class="icon icon-handbag"></i><span>Button</span></a></div>
                        </div>
                        <div class="clearfix mt-2"></div>
                        <div class="btn-toolbar"><a href="#" class="btn">Button</a> <a href="#" class="btn btn--alt ml-1">Button</a> <a href="#" class="btn btn--grey ml-1">Button</a></div>
                        <div class="clearfix mt-2"></div>
                        <div class="btn-toolbar"><button class="btn btn--animate loading-emulate btn--lg"><span class="text-sent"><i class="icon-check-box"></i></span><i class="icon-handbag"></i></button> <button class="btn btn--animate loading-emulate btn--lg"><span class="text-sent">Added To Cart</span><i class="icon-handbag"></i><span>Add To Cart</span></button></div>
                        <div class="clearfix mt-2"></div>
                        <div class="row">
                            <div class="col-4 col-sm-4"><a href="#" class="btn-decor">Button</a></div>
                            <div class="col-8 col-sm-8"><a href="#" class="bnr bnr--style-1 bnr--left bnr--middle"><img src="images/pages/bnr-typography-demo.jpg" alt=""> <span class="bnr-caption"><span class="bnr-text-wrap"><span class="btn-decor">shop now<span class="btn-line"></span></span></span></span></a></div>
                        </div>
                        <div class="clearfix mt-2 mt-md-4"></div>
                        <h3 class="h-lined">Lists</h3>
                        <div class="row vert-margin">
                            <div class="col-sm-6">
                                <ul class="list list--nomarker">
                                    <li>Lorem ipsum dolor sit</li>
                                    <li>Amet, consectetur adipiscing</li>
                                    <li>Elit, sed do eiusmod tempor</li>
                                    <li>Incididunt ut labore</li>
                                    <li>Dolore magna aliqua ut</li>
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <ul class="list list--marker-squared">
                                    <li>Lorem ipsum dolor sit</li>
                                    <li>Amet, consectetur adipiscing</li>
                                    <li>Elit, sed do eiusmod tempor</li>
                                    <li>Incididunt ut labore</li>
                                    <li>Dolore magna aliqua ut</li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix mt-4"></div>
                        <div class="row vert-margin">
                            <div class="col-sm-6">
                                <ol class="list list--number">
                                    <li>Lorem ipsum dolor sit</li>
                                    <li>Amet, consectetur adipiscing</li>
                                    <li>Elit, sed do eiusmod tempor</li>
                                    <li>Incididunt ut labore</li>
                                    <li>Dolore magna aliqua ut</li>
                                </ol>
                            </div>
                            <div class="col-sm-6">
                                <ul class="list list--marker-arrow">
                                    <li>Lorem ipsum dolor sit</li>
                                    <li>Amet, consectetur adipiscing</li>
                                    <li>Elit, sed do eiusmod tempor</li>
                                    <li>Incididunt ut labore</li>
                                    <li>Dolore magna aliqua ut</li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix mt-4"></div>
                        <h3 class="h-lined">Alerts</h3>
                        <div>
                            <div class="alert alert-success"><strong>Success!</strong> Indicates a successful or positive action.</div>
                            <div class="alert alert-info"><strong>Info!</strong> Indicates a neutral informative change or action.</div>
                            <div class="alert alert-warning"><strong>Warning!</strong> Indicates a warning that might need attention.</div>
                            <div class="alert alert-danger"><strong>Danger!</strong> Indicates a dangerous or potentially negative action.</div>
                        </div>
                        <div class="clearfix mt-4"></div>
                        <h3 class="h-lined">Tooltip</h3>
                        <div class="btn-toolbar"><button class="btn" data-toggle="tooltip" data-placement="top" title="HOORAY!">Hover over me</button> <button class="btn" data-toggle="tooltip ml-1" data-placement="right" title="HOORAY!">Hover over me</button></div>
                        <div class="clearfix mt-4"></div>
                        <h3 class="h-lined">Modals</h3>
                        <div class="btn-toolbar"><a href="#" data-fancybox data-src="#modalError" class="btn">Modal Info Error</a> <a href="#" data-fancybox data-src="#modalSuccess" class="btn ml-1">Modal Info Success</a></div>
                        <div class="clearfix mt-4"></div>
                        <h3 class="h-lined">Forms</h3>
                        <form>
                            <div class="form-group"><input type="text" class="form-control" placeholder="Input"></div>
                            <div class="form-group"><input type="text" class="form-control form-control--error" placeholder="Input Error"></div>
                            <div class="form-group"><input type="password" class="form-control" placeholder="Password"></div>
                            <div class="form-group select-wrapper"><select class="form-control">
                                    <option value="value1">SELECT</option>
                                    <option value="value2">SELECT</option>
                                    <option value="value3">SELECT</option>
                                </select></div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="clearfix"><input id="checkbox1" name="checkbox1" type="checkbox" checked="checked"> <label for="checkbox1">Checkbox 1</label></div>
                                    <div class="clearfix"><input id="checkbox2" name="checkbox2" type="checkbox"> <label for="checkbox2">Checkbox 2</label></div>
                                    <div class="clearfix"><input id="checkbox3" name="checkbox3" type="checkbox"> <label for="checkbox3">Checkbox 3</label></div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="clearfix"><input id="radio1" value="" name="radio3" type="radio" class="radio" checked="checked"> <label for="radio1">Radio Button 1</label></div>
                                    <div class="clearfix"><input id="radio2" value="" name="radio3" type="radio" class="radio"> <label for="radio2">Radio Button 1</label></div>
                                    <div class="clearfix"><input id="radio3" value="" name="radio3" type="radio" class="radio"> <label for="radio3">Radio Button 1</label></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="back-to-top js-back-to-top" href="#" title="Scroll To Top"><i class="icon icon-angle-up"></i></a>
    <div id="modalSuccess" class="modal-info modal--success" data-animation-duration="700" style="display: none;">
        <div class="modal-text"><i class="icon icon-check-box modal-icon-info"></i>
            <div>Product added to cart successfully!</div>
        </div>
    </div>
    <div id="modalError" class="modal-info modal--error" data-animation-duration="700" style="display: none;">
        <div class="modal-text"><i class="icon icon-error modal-icon-info"></i>
            <div>Oops! Something went wrong! Oops! Something went wrong!Oops! Something went wrong!</div>
        </div>
    </div>
    {% endblock %}