
  

  {% extends 'base.html' %}
{% load static %}
{% block content%}
    <div class="page-content">
        <div class="holder mt-0">
            <div class="container">
                <ul class="breadcrumbs">
                    <li><a href="index.html">Home</a></li>
                    <li><span>About Us</span></li>
                </ul>
            </div>
        </div>
        <div class="holder fullboxed mt-0 py-5 py-md-10 bg-cover" style="background-image:url(static/images/pages/about-text-bg.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 mx-auto">
                        <div class="text-center">
                            <p><img src="{% static 'images/logo-lg.png' %}" alt="" class="img-fluid"></p>
                            <p>
    Your password has been set. You may go ahead and <a href="{% url 'accounts:login    ' %}">sign in</a> now.
  </p>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
   {% endblock %}