{% extends 'base.html' %}
{% load static %}
{% block content%}
    <div class="page-content">
        <div class="holder mt-0">
            <div class="container">
                <ul class="breadcrumbs">
                    <li><a href="index.html">Home</a></li>
                    <li><span>Login</span></li>
                </ul>
            </div>
        </div>
        <div class="holder mt-0">
            <div class="container">
                <div class="row justify-content-around">
                    <div class="col-sm-6 col-md-4">
                        <div id="loginForm">
                            <h2 class="text-center">SIGN IN</h2>
                            <div class="form-wrapper">
                                <p>If you have an account with us, please log in.</p>
                                <form method="POST" id="login-form" action="">
				                {% csrf_token %}
                                    <div class="form-group"><input type="email"class="form-control" placeholder="Your Email" name="email" maxlength="254" required="" id="id_email"></div>
                                    <button type="submit" class="btn">Sign in</button>
                                    <div class="text-center"></div>
                                </form>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
 {% endblock %}